{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
<div class="d-flex flex-column">
    <h1 class="align-self-center my-3">Your favourites</h1>
    {% for favourite in favourites %}
    <div class="composition-container d-flex flex-column">
        <p class="fw-bold align-self-center"><a href="{{ path('composition', {id: favourite.composition_id}) }}">{{ favourite.title }}</a>
        <p>Fandom: {{ favourite.name }}</p>
        <p>Description: {{ favourite.description }}</p>
        <a href="{{ path('composition_delete_from_favourite', {id: favourite.composition_id}) }}">Delete from favourite</a>
    </div>
    {% else %}
        <p class="align-self-center">No favourites</p>
    {% endfor %}
</div>
{% endblock %}
